
.form{
    display: flex;
    justify-content: center;
    align-items: center; flex-direction: column;
    padding: 40px 90px;
    border:thick double #2bbbd4;
    border-radius: 30px;
    gap: 15px;
}

span{
    font-size: 40px;
    text-transform:uppercase;
}

#player-name{
    width: 70%;
    font-size: 25px;
    font-family: inherit;  
    background-color: #000;
    border:thick double #2bbbd4;
    border-radius: 20px;
    text-align: center;
    color: inherit;
}

#difficulty-level{
    width: 40%;
    font-size: 25px;
    font-family: inherit;  
    background-color: #000;
    border:thick double #2bbbd4;
    border-radius: 20px;
    text-align: center;
    color: inherit;
    -webkit-appearance: none;
    padding: 7px;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg fill=\"%232bbbd4\" height=\"24\" viewBox=\"0 0 24 24\" width=\"24\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M7 10l5 5 5-5z\"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 30px;
}

#start-game{
    width: 50%;
    font-size: 30px;
    font-family: inherit;  
    background-color: #000;
    border:thick double #2bbbd4;
    border-radius: 20px;
    text-align: center;
    color: inherit;
}

body {
    color: aliceblue;
    background: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

h1{
    color: inherit;
    font-size: 90px;
}

